{% block ticket_widget_row %}

    <div class="row">
        <div class="col-md-6 mx-auto" style="text-align: center">
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
        <div class="col-md-2">
            {# Note that "city" on classes below are the same as on "prefix" option #}
            <a href="#" class="city-remove btn btn-default" title="Delete location"><span class="glyphicon glyphicon-trash"></span></a>
            <a href="#" class="city-add btn btn-default" title="Add location"><span class="glyphicon glyphicon-plus-sign"></span></a>
        </div>
    </div>

{% endblock %}
