{% extends 'base.html.twig' %}
{% block body %}
<div class="divider" id="section1"></div>

<section class="bg-1">
<div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">Horaires d'ouverture</h2></div>
<div class="col-sm-6 col-sm-offset-3 text-center"><h3 style="padding:20px;background-color:rgba(5,5,5,.8)">Ouverture du musée tous les jours sauf le Mardi</h3></div>
<div class="col-sm-6 col-sm-offset-3 text-center"><h3 style="padding:20px;background-color:rgba(5,5,5,.8)">Fermé les 1er Mai, 1er Novembre, 25 Décembre</h3></div>

</section>

<div class="divider"></div>

<div class="container" id="section2">

<div class="col-sm-8 col-sm-offset-2 text-center">
  <h1>Tarifs</h1>
  </div>

  <div class="col-sm-8 col-sm-offset-2 ">
    <div class="table-responsive">
      <table class="table">

       <tbody>
       {%  for tarif in tarifs %}
        <tr>
          <td>Tarif {{ tarif.tarifName }} ({{ tarif.description }})</td>
          <td>{{ tarif.price }} €</td>
        </tr>
           {%  endfor %}
</tbody>
</table>
</div>



</div><!--/col-->
</div><!--/container-->

<div class="divider"></div>

<section class="bg-2" id="section3">
<div class="col-sm-6 col-sm-offset-3 text-center"><h3 style="padding:20px;background-color:rgba(201,172,0,.8)"> <a href="{{ path('info') }}">Réservez votre billet !</a></h3></div>
</section>

{% endblock %}
