{% extends 'base.html.twig' %}

{% block body %}
<div class="container" id="order" style="text-align: center">

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h4 class="text-info"> {{ 'validate.title' | trans }}  </h4>
            <p> {{ 'validate.info' | trans }}</p>

        </div>
    </div>


</div>

{% endblock %}
